@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-white {
    filter: brightness(0) invert(1);
  }

  .responsive-img {
    width: 10%; 
    height: auto; 
  }


  
  #control-buttons {
    z-index: 2;
  }